body {
  background-color: rgb(39, 39, 39);
  text-align: center;
  padding: 3rem;
  color: white;
}

input {
  text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.click_image {
  width: 10%;
  height: 50%;
}

.main_hr {
  background-color: red;
  height: 5px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
